
<%= partial "navbar" %>
<h1>Michael D. Bond</h1>


<table cellpadding="6">
  <tbody>
    <td valign="top"> <%= partial "picture" %> </td>
    <td valign="top" width="60%">
      <div>
        <h3><u>Basic Information</u></h3>
        <b>Position:</b> Associate Professor of Computer Science and Engineering
        <br>
        <b>Teaches at:</b> The Ohio State University (Columbus, Ohio)
        <br>
        <b>Email:</b> <a href="mailto:mikebond@cse.ohio-state.edu">mikebond@cse.ohio-state.edu</a>
        <br>
        <b>Office</b>: 697 Dreese Labs
        <br>
        <b>On sabbatical Autumn 2018 – Spring 2019</b>
        <br>
        <h3><a href="research.html">Research</a></h3>
        My research group is called PLaSS, short for Programming Languages and Software Systems.

        <h3> <a href="publications.html">Publications</a> </h3>
        Articles and research papers that I have published.

        <h3><a href="news.html">News</a></h3>
        Significant events which have occured to current or former members of my Research Group.

        <h3><a href="teaching.html">Teaching</a></h3>
        I have been a teacher at Ohio State since 2011. Most of my teaching is high-level CSE courses.



      </div>
    </td>
    <td valign="top" width="40%">
    </td>
  </tbody>
</table>





