
<%= partial "navbar" %>

<!DOCTYPE html>
<html>
<head>
  <title>NEWS</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="tableStyle">
  <h1>News</h1>
  <table>
    <tr>
      <td>
        Swarnendu Biswas's paper on
        <a href="http://web.cse.ohio-state.edu/~bond.213/arc-ipdps-2019.pdf">rethinking support for region conflict exceptions</a>
        has been accepted to IPDPS 2019!
      </td>
    </tr>
    <tr>
      <td>
        Jake Roemer's paper on
        <a href="http://web.cse.ohio-state.edu/~bond.213/vindicator-pldi-2018-xtr.pdf">high-coverage, unbounded predictive race detection</a>
        appeared at PLDI 2018!
      </td>
    </tr>
    <tr>
      <td>
        A paper on <a href="http://web.cse.ohio-state.edu/~bond.213/fib-oopsla-2017.pdf">instrumentation bias for efficient data race detection</a>
        co-authored by PLaSS members Man Cao and Mike Bond
        and led by Ben Wood (Wellesley College)
        appeared at OOPSLA 2017!
      </td>
    </tr>
    <tr>
      <td>
        Man Cao's paper on
        <a href="http://web.cse.ohio-state.edu/~bond.213/hybrid-relaxed-tracking-topc-2017.pdf">
          hybridizing and relaxing dependence tracking</a>
        has been published in a special edition of ACM Transactions on Parallel Computing (TOPC) in August 2017!
      </td>
    </tr>
    <tr>
      <td>
        Aritra Sengupta defended his dissertation and graduated in Spring 2017! He joined Samsung Research America in July.
      </td>
    </tr>
    <tr>
      <td>
        Man Cao defended his dissertation and graduated in Spring 2017! He joined Google in May.
      </td>
    </tr>
    <tr>
      <td>
        Minjia Zhang's paper on <a href="http://web.cse.ohio-state.edu/~bond.213/avalon-ismm-2017.pdf">avoiding consistency exceptions under strong memory models</a>
        appeared at ISMM 2017!
      </td>
    </tr>
    <tr>
      <td>
        Aritra Sengupta's paper on <a href="http://web.cse.ohio-state.edu/~bond.213/legato-cgo-2017-xtr.pdf">commodity HTM support for bounded region serializability</a>
        appeared at CGO 2017!
      </td>
    </tr>
    <tr>
      <td>
        Swarnendu Biswas's paper on <a href="http://web.cse.ohio-state.edu/~bond.213/racechaser-caper-cc-2017.pdf">lightweight data race detection for production runs</a>
        appeared at CC 2017!
      </td>
    </tr>
  </table>
</div>

</body>
</html>