
<%= partial "navbar" %>
<!DOCTYPE html>
  <h1>Activities, Awards, and Funding</h1>
  <hr>

  <div class="tableStyle">
    <h2>Activities</h2>
		<table>
			<tr>
				<th>
					2019
				</th>
			</tr>
			<tr>
				<td>
					Program Committee, ISMM
				</td>
			</tr>
			<tr>
				<td>
					Program Committee, ASPLOS
				</td>
			</tr>
		</table>
		<br>

		<table>
			<tr>
				<th>
					2018
				</th>
			</tr>
			<tr>
				<td>
					External Review Committee, PLDI
				</td>
			</tr>
			<tr>
				<td>
					xternal Review Committee, ASPLOS
				</td>
			</tr>
		</table>
		<br>

		<table>
			<tr>
				<th>
					2017
				</th>
			</tr>
			<tr>
				<td>
					External Review Committee, PACT
				</td>
			</tr>
			<tr>
				<td>
					External Review Committee, ISMM
				</td>
			</tr>
			<tr>
				<td>
					External Review Committee, ASPLOS
				</td>
			</tr>
			<tr>
				<td>
					External Program Committee, PLDI
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://2017.splashcon.org/track/splash-2017-OOPSLA">Artifact Evaluation Co-Chair, OOPSLA</a>
				</td>
			</tr>
		</table>
		<br>

		<table>
			<tr>
				<th>
					2016
				</th>
			</tr>
			<tr>
				<td>
					<a href="http://2016.splashcon.org/track/splash-2016-oopsla">Artifact Evaluation Co-Chair, OOPSLA</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://2016.splashcon.org/track/splash-2016-oopsla">External Program Committee, OOPSLA</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://conf.researchr.org/home/PPoPP-2016">Program Committee, PPoPP</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://www.sigplan.org/Conferences/ASPLOS/">External Review Committee, ASPLOS</a>
				</td>
			</tr>
		</table>
		<br>

		<table>
			<tr>
				<th>
					2015
				</th>
			</tr>
			<tr>
				<td>
					<a href="http://conf.researchr.org/home/ismm-2015">Program Committee Chair, ISMM</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://www.sigplan.org/Conferences/ISMM/">Steering Committee, ISMM, 2015-2018</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://conf.researchr.org/home/pldi2015">External Review Committee, PLDI</a>
				</td>
			</tr>
		</table>
		<br>


		<table>
			<tr>
				<th>
					2014
				</th>
			</tr>
			<tr>
				<td>
					<a href="http://conferences.inf.ed.ac.uk/pldi2014/">External Review Committee, PLDI</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://ismm2014.cs.tufts.edu/">External Review Committee, ISMM</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="https://sites.google.com/site/ppopp2014/">External Review Committee, PPoPP</a>
				</td>
			</tr>
		</table>
		<br>

		<table>
			<tr>
				<th>
					2013
				</th>
			</tr>
			<tr>
				<td>
					<a href="http://pldi2013.ucombinator.org/">Program Committee, PLDI</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://www.cs.wm.edu/~idillig/pldi13-src/">Selection Committee, Student Research Competition, PLDI</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://www.cs.technion.ac.il/~erez/ismm13/">Program Committee, ISMM</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://www.cs.rice.edu/~vs3/asplos13">External Review Committee, ASPLOS</a>
				</td>
			</tr>
		</table>
		<br>

		<table>
			<tr>
				<th>
					2012
				</th>
			</tr>
			<tr>
				<td>
					<a href="http://splashcon.org/2012/cfp/378">Program Committee, OOPSLA</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://research.microsoft.com/en-us/um/cambridge/events/asplos_2012/">External Review Committee, ASPLOS</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://splashcon.org/2011/cfp/103">Doctoral Symposium Committee, SPLASH</a>
				</td>
			</tr>
		</table>
		<br>


		<table>
			<tr>
				<th>
					2011
				</th>
			</tr>
			<tr>
				<td>
					<a href="http://tmc.supertriceratops.com/">Program Committee, TMC</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://www.hpl.hp.com/personal/Hans_Boehm/ismm11/">Program Committee, ISMM</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://pldi11.cs.utah.edu/">External Review Committee, PLDI</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://www.cs.technion.ac.il/~erez/vee11/">Program Committee, VEE</a>
				</td>
			</tr>
		</table>
		<br>

		<table>
			<tr>
				<th>
					2010
				</th>
			</tr>
			<tr>
				<td>
					<a href="http://www.splashcon.org/program/oopsla-research-papers">Program Committee, OOPSLA</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://www.cs.stanford.edu/pldi10/">External Review Committee, PLDI</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://www.multicore-systems.org/iwmse2010">Program Committee, IWMSE</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="http://www.cs.purdue.edu/ISMM10/">Review Committee, ISMM</a>
				</td>
			</tr>
		</table>
		<br>


		<table>
			<tr>
				<th>
					2007
				</th>
			</tr>
			<tr>
				<td>
					<a href="http://www.jikesrvm.org/ProjectOrganization/">Jikes RVM Team, 2007-present</a>
				</td>
			</tr>
		</table>
		<br>

		<table>
			<tr>
				<th>
					Awards
				</th>
			</tr>
			<tr>
				<td>
					Outstanding Teaching Award, Department of Computer Science and Engineering, Ohio State University (2018)
				</td>
			</tr>
			<tr>
				<td>
					Lumley Research Award, College of Engineering, Ohio State University (2016)
				</td>
			</tr>
			<tr>
				<td>
					OOPSLA 2015 Distinguished Paper Award (for <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Valor</a>)
				</td>
			</tr>
			<tr>
				<td>
					OOPSLA 2015 Distinguished Artifact Award (for the <a href="http://web.cse.ohio-state.edu/~mikebond/papers.html#valor">Valor artifact</a>)
				</td>
			</tr>
			<tr>
				<td>
					NSF CAREER Award
				</td>
			</tr>
			<tr>
				<td>
					ACM SIGPLAN Outstanding Doctoral Dissertation Award (<a href="http://www.sigplan.org/Awards/Dissertation/2008">citation</a>)
				</td>
			</tr>
			<tr>
				<td>
					Intel PhD Fellowship
				</td>
			</tr>
			<tr>
				<td>
					"Most crazy idea" at Wild and Crazy Ideas (WACI) session at <a href="https://www.cs.kent.ac.uk/~rej/ismm2008">ISMM 2008</a>
				</td>
			</tr>
			<tr>
				<td>
					Best student presenter at <a href="http://web.cse.ohio-state.edu/~bond.213/tpp-cgo-2004.pdf">CGO 2004</a>
				</td>
			</tr>
		</table>
		<br>

		<table>
			<tr>
				<th>
					Funding
				</th>
			</tr>
			<tr>
				<td>
					NSF <a href="http://nsf.gov/awardsearch/showAward?AWD_ID=1218695">CSR-1218695</a> (ended 2016)
				</td>
			</tr>
			<tr>
				<td>
					NSF <a href="http://nsf.gov/awardsearch/showAward?AWD_ID=1253703">CAREER-1253703</a>
				</td>
			</tr>
			<tr>
				<td>
					NSF <a href="http://nsf.gov/awardsearch/showAward?AWD_ID=1421612">CCF-1421612</a>
				</td>
			</tr>
			<tr>
				<td>
					NSF <a href="http://nsf.gov/awardsearch/showAward?AWD_ID=1629126">XPS-1629126</a>
				</td>
			</tr>
		</table>
		<br>
  </div>
  
  
  
