
<%= partial "navbar" %>

<!DOCTYPE html>
<html>

<body>

<h1>Publications of PLaSS and Mike Bond</h1>
<hr>

<h2>Recent Work Published as Technical Reports</h2>

<div class="tableStyle">
  <table>
    <tr>
      <td>Tech report (2016)  </td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/raptor-tr.pdf">An Online Dynamic Analysis for Sound Predictive Data Race Detection</a>
        <br> Jake Roemer and Michael D. Bond
      </td>
    </tr>
  </table>

  <h2>Refereed Publications</h2>
  <table>
    <tr>
      <th>Publication Date </th>
      <th>Content</th>
    </tr>
    <tr>
      <td>IPDPS 2019 </td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/arc-ipdps-2019.pdf">Rethinking Support for Region Conflict Exceptions</a>
        <br> Swarnendu Biswas, Rui Zhang, Michael D. Bond, and Brandon Lucia</td>
    </tr>
    <tr>
      <td>PLDI 2018</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/vindicator-pldi-2018-xtr.pdf">High-Coverage, Unbounded Sound Predictive Race Detection</a>
        <br> Jake Roemer, Kaan Gen&ccedil;, and Michael D. Bond</td>
    </tr>
    <tr>
      <td>OOPSLA 2017 </td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/fib-oopsla-2017.pdf">Hybridizing and Relaxing Dependence Tracking for Efficient Parallel Runtime Support</a>
        <br> Man Cao, Minjia Zhang, Aritra Sengupta, Swarnendu Biswas, and Michael D. Bond</td>
    </tr>
    <tr>
      <td>TOPC (2017) </td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/hybrid-relaxed-tracking-topc-2017.pdf">Instrumentation Bias for Dynamic Data Race Detection</a>
        <br> Benjamin P. Wood, Man Cao, Michael D. Bond, and Dan Grossman</td>
    </tr>
    <tr>
      <td>ISMM 2017 </td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/avalon-ismm-2017.pdf">Avoiding Consistency Exceptions Under Strong Memory Models</a>
        <br> Minjia Zhang, Swarnendu Biswas, and Michael D. Bond</td>
    </tr>
    <tr>
      <td>CGO 2017 </td>
      <td> <a href="http://web.cse.ohio-state.edu/~bond.213/legato-cgo-2017-xtr.pdf">Legato: End-to-End Bounded Region Serializability Using Commodity Hardware Transactional Memory</a>
        <br> Aritra Sengupta, Man Cao, Michael D. Bond, and Milind Kulkarni</td>
    </tr>
    <tr>
      <td>CC 2017</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/racechaser-caper-cc-2017.pdf">Lightweight Data Race Detection for Production Runs</a>
        <br> Swarnendu Biswas, Man Cao, Minjia Zhang, Michael D. Bond, and Benjamin P. Wood</td>
    </tr>
    <tr>
      <td>ISMM 2016 /td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/prescient-memory-ismm-2016.pdf">Prescient Memory: Exposing Weak Memory Model Behavior by Looking into the Future</a>
        <br> Man Cao, Jake Roemer, Aritra Sengupta, and Michael D. Bond</td>
    </tr>


    <tr>
      <td>CC 2016 </td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/relaxed-tracking-cc-2016.pdf">Relaxed Dependence Tracking for Parallel Runtime Support</a>
        <br> Minjia Zhang, Swarnendu Biswas, and Michael D. Bond</td>
    </tr>
    <tr>
      <td>PPoPP 2016 </td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/hybrid-tracking-ppopp-2016.pdf">Drinking from Both Glasses:
        Combining Pessimistic and Optimistic Tracking of Cross-Thread Dependences</a>
        <br> Man Cao, Minjia Zhang, Aritra Sengupta, and Michael D. Bond</td>
    </tr>
    <tr>
      <td>OOPSLA 2015</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/valor-oopsla-2015.pdf">Valor: Efficient, Software-Only Region Conflict Exceptions</a>
        <br> Swarnendu Biswas, Minjia Zhang, Michael D. Bond, and Brandon Lucia</td>
    </tr>
    <tr>
      <td> PPPJ 2015</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/replay-pppj-2015.pdf">Efficient Deterministic Replay of Multithreaded Executions in a Managed Language Virtual Machine</a>
        <br> Michael D. Bond, Milind Kulkarni, Man Cao, Meisam Fathi Salmi, and Jipeng Huang</td>
    </tr>
    <tr>
      <td> PPPJ 2015</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/hybrid-EnfoRSer-pppj-2015.pdf">Toward Efficient Strong Memory Model Support for the Java Platform via Hybrid Synchronization</a>
        <br> Aritra Sengupta, Man Cao, Michael D. Bond, and Milind Kulkarni
      </td>
    </tr>
    <tr>
      <td>ASPLOS 2015 </td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/EnfoRSer-asplos-2015-xtr.pdf">Hybrid Static&ndash;Dynamic Analysis for Statically Bounded Region Serializability</a>
        <br> Aritra Sengupta, Swarnendu Biswas, Minjia Zhang, Michael D. Bond, and Milind Kulkarni</td>
    </tr>
    <tr>
      <td>PPoPP 2015  </td>
      <td> <a href="http://web.cse.ohio-state.edu/~bond.213/larktm-ppopp-2015.pdf">Low-Overhead Software Transactional Memory with Progress Guarantees and Strong Semantics</a>
        <br> Minjia Zhang, Jipeng Huang, Man Cao, and Michael D. Bond</td>
    </tr>
    <tr>
      <td>PLDI 2014</td>
      <td>  <a href="http://web.cse.ohio-state.edu/~bond.213/doublechecker-pldi-2014.pdf">DoubleChecker: Efficient Sound and Precise Atomicity Checking</a>
        <br> Swarnendu Biswas, Jipeng Huang, Aritra Sengupta, and Michael D. Bond</td>
    </tr>
    <tr>
      <td>TOPLAS (2014) </td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/laminar-toplas-2014.pdf">Practical Fine-Grained Information Flow Control Using Laminar</a>
        <br> Donald E. Porter, Michael D. Bond, Indrajit Roy, Kathryn S. McKinley, and Emmett Witchel</td>
    </tr>
    <tr>
      <td>WoDet 2014</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/hybrid-tracking-ppopp-2016.pdf">Drinking from Both Glasses:
        Adaptively Combining Pessimistic and Optimistic Synchronization for
        Efficient Parallel Runtime Support</a>
        <br> Man Cao, Minjia Zhang, and Michael D. Bond</td>
    </tr>
    <tr>
      <td>OOPSLA 2013</td>
      <td> <a href="http://web.cse.ohio-state.edu/~bond.213/octet-oopsla-2013.pdf">Octet: Capturing and Controlling Cross-Thread Dependences Efficiently</a>
        <br> Michael D. Bond, Milind Kulkarni, Man Cao, Minjia Zhang, Meisam Fathi Salmi, Swarnendu Biswas, Aritra Sengupta, and Jipeng Huang
      </td>
    </tr>
    <tr>
      <td>OOPSLA 2013</td>
      <td> <a href="http://web.cse.ohio-state.edu/~bond.213/ccu-oopsla-2013.pdf">Efficient Context Sensitivity for Dynamic Analyses via Calling Context Uptrees and Customized Memory Management</a>
        <br> Jipeng Huang and Michael D. Bond

      </td>
    </tr>
    <tr>
      <td> PLDI 2011</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/leakchaser-pldi-2011.pdf">LeakChaser: Helping Programmers Narrow Down Causes of Memory Leaks</a>
        <br> Guoqing "Harry" Xu, Michael D. Bond, Feng Qin, and Atanas Rountev</td>
    </tr>
    <tr>
      <td> PLDI 2011</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/security-policy-oracle-pldi-2011.pdf">A Security Policy Oracle: Detecting Security Holes Using Multiple API Implementations</a>
        <br> Varun Srivastava, Michael D. Bond, Kathryn S. McKinley, and Vitaly Shmatikov</td>
    </tr>
    <tr>
      <td> PLDI 2010</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/pacer-pldi-2010.pdf">Pacer: Proportional Detection of Data Races</a>
        <br> Michael D. Bond, Katherine E. Coons, and Kathryn S. McKinley</td>
    </tr>
    <tr>
      <td> PLDI 2010</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/breadcrumbs-pldi-2010.pdf">Breadcrumbs: Efficient Context Sensitivity for Dynamic Bug Detection Analyses</a>
        <br> Michael D. Bond, Graham Z. Baker, and Samuel Z. Guyer</td>
    </tr>
    <tr>
      <td> PLAS 2010</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/pecan-plas-2010.pdf">Efficient, Context-Sensitive Detection of Real-World Semantic Attacks</a>
        <br >Michael D. Bond, Varun Srivastava, Kathryn S. McKinley, and Vitaly Shmatikov</td>
    </tr>
    <tr>
      <td> ASPLOS 2009 </td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/leak-pruning-asplos-2009.pdf">Leak Pruning</a>
        <br> Michael D. Bond and Kathryn S. McKinley</td>
    </tr>
    <tr>
      <td>PLDI 2009</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/laminar-pldi-2009.pdf">Laminar: Practical Fine-Grained Decentralized Information Flow Control</a>
        <br> Indrajit Roy, Donald E. Porter, Michael D. Bond, Kathryn S. McKinley, and Emmett Witchel</td>
    </tr>
    <tr>
      <td> OOPSLA 2008</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/melt-oopsla-2008.pdf">Tolerating Memory Leaks</a>
        <br> Michael D. Bond and Kathryn S. McKinley</td>
    </tr>
    <tr>
      <td> OOPSLA 2007</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/pcc-oopsla-2007.pdf">Probabilistic Calling Context</a>
        <br> Michael D. Bond and Kathryn S. McKinley</td>
    </tr>
    <tr>
      <td> OOPSLA 2007</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/origin-tracking-oopsla-2007.pdf">Tracking Bad Apples: Reporting the Origin of Null and Undefined Value Errors</a>
        <br> Michael D. Bond, Nicholas Nethercote, Stephen W. Kent, Samuel Z. Guyer, and Kathryn S. McKinley</td>
    </tr>
    <tr>
      <td> CC 2007 </td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/cgc-cc-2007.pdf">Correcting the Dynamic Call Graph Using Control Flow Constraints</a>
        <br> Byeongcheol Lee, Kevin Resnick, Michael D. Bond, and Kathryn S. McKinley</td>
    </tr>
    <tr>
      <td> ASPLOS 2006</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/bell-asplos-2006.pdf">Bell: Bit-Encoding Online Memory Leak Detection</a>
        <br> Michael D. Bond and Kathryn S. McKinley
      </td>
    </tr>
    <tr>
      <td> MICRO 2005</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/pep-micro-2005.pdf">Continuous Path and Edge Profiling</a>
        <br> Michael D. Bond and Kathryn S. McKinley</td>
    </tr>
    <tr>
      <td> CGO 2005 </td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/ppp-cgo-2005.pdf">Practical Path Profiling for Dynamic Optimizers</a>
        <br> Michael D. Bond and Kathryn S. McKinley</td>
    </tr>
    <tr>
      <td> CGO 2004  </td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/tpp-cgo-2004.pdf">Targeted Path Profiling: Lower Overhead Path Profiling for Staged Dynamic Optimization Systems</a>
        <br> Rahul Joshi, Michael D. Bond, and Craig Zilles</td>
    </tr>


  </table>


  <h2>Dissertations and Theses</h2>
  <table>
    <tr>
      <th>Publication Date </th>
      <th>Content</th>
    </tr>

    <tr>
      <td>PhD dissertation (2017) </td>
      <td> Efficient, Practical Dynamic Program Analyses for Concurrency Correctness
        Man Cao
      </td>
    </tr>
    <tr>
      <td>PhD dissertation (2017)</td>
      <td>Efficient Compiler and Runtime Support for Serializability and Strong Semantics on Commodity Hardware
        Aritra Sengupta </td>
    </tr>
    <tr>
      <td>PhD dissertation (2016)</td>
      <td><a href="https://etd.ohiolink.edu/!etd.send_file?accession=osu1470957618&disposition=inline">Practical Support for Strong, Serializability-Based Memory Consistency</a>
        <br> Swarnendu Biswas</td>
    </tr>


    <tr>
      <td>PhD dissertation (2016)</td>
      <td><a href="https://etd.ohiolink.edu/!etd.send_file?accession=osu1469557197&disposition=inline">Efficient Runtime Support for Reliable and Scalable Parallelism</a>
        <br> Minjia Zhang</td>
    </tr>
    <tr>
      <td>Master's thesis (2014)</td>
      <td> <a href="https://etd.ohiolink.edu/!etd.send_file?accession=osu1397231571&disposition=inline">Efficient Context Sensitivity for Dynamic Analyses via Calling Context Uptrees and Customized Memory Management</a>
        <br> Jipeng Huang</td>
    </tr>
    <tr>
      <td>PhD dissertation (2008)</td>
      <td><a href="http://web.cse.ohio-state.edu/~bond.213/bond-diss-2008.pdf">Diagnosing and Tolerating Bugs in Deployed Systems</a>
        <br> Michael David Bond
      </td>
    </tr>
  </table>
</div>
</body>
</html>
