---
title: Research
css: site.css
---
<!-- Author: Jincheng Li
     This file redesigns the research part of Michael D. Bond's site.
-->

<%= partial "navbar" %>
<h1>Research</h1>
<HR>
<p>My <a herf="http://web.cse.ohio-state.edu/~mikebond/plass.html" target="_blank">research group</a> develops program analyses and software systems that make complex, concurrent software significantly more reliable, scalable, and secure than it is today.</p>
<p>General interests: programming languages, software and hardware systems, program analysis, compilers, security</p>
<ul>
  <li><a href="publications.html"> Publications </a></li>
  <li><p>Publicly available research software (see "Source code" in publications for each paper) </p></li>
</ul>
<div class="tableStyle">
  <h2>Current advisees</h2>
<table>
  <tr>
    <th>Name</th>
  </tr>
  <tr>
    <td>Kaan Genç (PhD student)</td>
  </tr>
  <tr>
    <td>Jake Roemer (PhD candidate)</td>
  </tr>
  <tr>
    <td>Rui Zhang (PhD student)</td>
  </tr>
</table>
  <h2>Graduated advisees, with positions as of 2019</h2>
<table>
  <tr>
    <th>Name</th>
    <th>Position</th>
  </tr>
  <tr>
    <td><a href="http://www.cse.ohio-state.edu/~caoma/">Man Cao (PhD, 2017)</a></td>
    <td>Google</td>
  </tr>
  <tr>
    <td><a href="http://web.cse.ohio-state.edu/~sengupta.25/">Aritra Sengupta (PhD, 2017)</a></td>
    <td>Samsung Research America</td>
  </tr>
  <tr>
    <td><a href="https://www.cse.iitk.ac.in/users/swarnendu/">Swarnendu Biswas (PhD, 2016)</a></td>
    <td>Assistant professor at IIT Kanpur</td>
  </tr>
  <tr>
    <td><a href="http://zhangminjia.me/">Minjia Zhang (PhD, 2016)</a></td>
    <td>Microsoft Research</td>
  </tr>
  <tr>
    <td><a href="http://huangjip.github.io/">Jipeng Huang (MS, 2014)</a></td>
    <td>Apple</td>
  </tr>
</table>
</div>

<div class="pictures">
  <br>
  <table>
    <tr>
      <td>
	<img src="/images/plass-may-2017.jpeg" alt="plass-may-2017" width="400">
	<p>Celebrating Aritra and Man's PhD defenses and graduations (May 2017)
	 <br /> <i>From left to right: Mike, Aritra, Man, Jake, Rui </i>
	</p>
	<img src="/images/plass-sept-2016.jpeg" alt="plass-sept-2016" width="400">	
	<p>Celebrating Minjia and Swarnendu's PhD defenses and graduations (Sept 2016)
	  <br /><i>From left to right: Aritra, Man, Rui, Jake, Mike, Minjia, Swarnendu, [family member]</i>
	</p>
	<img src="/images/plass-april-2016.jpeg" alt="plass-april-2016" height="300">
	<p>After Minjia's PhD defense (April 2016)
	<br /><i>From left to right: Man, Aritra, Minjia, Mike, Rui</i>
	</p>
	<img src="/images/EnfoRSer.jpeg" alt="EnfoRSer" width="400">	
	<p>Collaborating on the EnfoRSer project on Google Hangouts (c. 2013)
	  <br /><i>From left to right: Aritra, Mike, Milind Kulkarni</i>
	</p>
      </td>
    </tr>
  </table>
</div>
