
<%= partial "navbar" %>

<div class="tableStyle">
  <h1>Teaching</h1>
  <p style="color:red">No teaching Autumn 2018 – Spring 2019 (on sabbatical)</p>
  <table>
    <tr>
      <th>
        2018
      </th>
    </tr>
    <tr>
      <td>
        CSE 5349(Spring): <a href="https://piazza.com/osu/spring2018/cse5349/home">Program Analysis and Runtime Systems for Reliable, Scalable Parallelism</a>
      </td>
    </tr>

  </table>
  <br>

  <table>
    <tr>
      <th>
        2017
      </th>
    </tr>
    <tr>
      <td>
        CSE 3341(Autumn): <a href="https://piazza.com/osu/autumn2017/cse3341/home">Principles of Programming Languages</a> (two sections)
      </td>
    </tr>
    <tr>
      <td>
        CSE 6349(Autumn): <a href="https://piazza.com/osu/autumn2017/cse6349/home">Program Analyses and Systems for Reliable Parallelism</a>
      </td>
    </tr>
  </table>
  <br>

  <table>
    <tr>
      <th>
        2016
      </th>
    </tr>
    <tr>
      <td>
        CSE 3341(Autumn): Principles of Programming Languages(two sections)
      </td>
    </tr>
  </table>
  <br>

  <table>
    <tr>
      <th>
        2015
      </th>
    </tr>
    <tr>
      <td>
        CSE 3341(Autumn): Principles of Programming Languages
      </td>
    </tr>
    <tr>
      <td>
        CSE 5349(Autumn): Parallelism in Modern Programming Language Implementations
      </td>
    </tr>
    <tr>
      <td>
        CSE 3341(Spring): Principles of Programming Languages
      </td>
    </tr>
  </table>
  <br>

  <table>
    <tr>
      <th>
        2014
      </th>
    </tr>
    <tr>
      <td>
        CSE 6341(Autumn): <a href="http://web.cse.ohio-state.edu/~mikebond/6341/">Foundations of Programming Languages</a>
      </td>
    </tr>
    <tr>
      <td>
        CSE 5349(Spring): Dynamic Program Analysis and Runtime Systems for Reliable Concurrent Software
      </td>
    </tr>
  </table>
  <br>

  <table>
    <tr>
      <th>
        2013
      </th>
    </tr>
    <tr>
      <td>
        CSE 6341(Autumn): Foundations of Programming Languages
      </td>
    </tr>
    <tr>
      <td>
        CSE 3341(Spring): Principles of Programming Languages
      </td>
    </tr>
  </table>
  <br>

  <table>
    <tr>
      <th>
        2012
      </th>
    </tr>
    <tr>
      <td>
        CSE 6341(Autumn): Foundations of Programming Languages
      </td>
    </tr>
    <tr>
      <td>
        CSE 755(Spring): Programming Languages
      </td>
    </tr>
  </table>
  <br>

  <table>
    <tr>
      <th>
        2011
      </th>
    </tr>
    <tr>
      <td>
        CSE 788.07(Autumn): Dynamic Program Analysis and Runtime Systems for Reliable Concurrent Software
      </td>
    </tr>
    <tr>
      <td>
        CSE 888.07(Spring): Algorithms and Implementation Strategies for Efficient Dynamic Analysis for Deployed Concurrent Software
      </td>
    </tr>
    <tr>
      <td>
        CSE 788.07(Winter): Dynamic Program Analysis and Runtime Systems for Reliable Concurrent Software
      </td>
    </tr>
  </table>
</div>
